{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <h2>Welcome {{user.username}}</h2>
    <h2>Email : {{user.email}}</h2>
    <h2>Name : {{user.first_name}} {{user.last_name}}</h2>
    <a href="{% url "account_logout" %}">logout</a>
    {% else %}
    <a href="{% provider_login_url "google" %}">Login with google</a>
    {% endif %}
</body>
</html>